<div>
  <h1>
    {{ section.settings.text_id }}
  </h1>
</div>

{% schema %}
  {
    "name": "Text show",
    "settings": [
      {
        "type": "text",
        "id": "text_id",
        "label": "Enter your text: "
      }
    ],
    "presets": [
      {
        "name":"Text Show",
      "settings": 
      {
        
      }
      }
    ]
  }
{% endschema %}