h1{
  color:blue;
}
p {
  color:#BBA28F;
}
.image-with-text__heading {
  color:black;
}
#ImageWithText--template--18775682449650__image_with_text_nMGTwz .button  {
 background: #97603C;
  color: white;
}
